.avatar {
    height: inherit;
    width: inherit;
    border-radius: 50%;
    display: block;
}

.outerCrossClass {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;    
    height: 14px;
    width: 14px;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -45px;
    margin-left: 30px;
    background-color: grey;
    .cursorPointer();
}

.innerCrossClass {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-weight: bold;
    font-size: 18px;
    margin-top: -4px;
    color: white;
}

.cursorPointer {
    cursor: pointer;
}