.avatar {
    display: flex;
}

.area {
    display: flex;
    position: relative;
}

.outerCross {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 60%;
    border: 2px solid white;
    border-radius: 50%;
    background-color: grey;
    cursor: pointer;
}

.verticalCross {
    background-color: white;
    transform: rotate(45deg);
    height: 20%;
    width: 80%;
}

.horizontalCross {
    position: absolute;
    background-color: white;
    transform: rotate(45deg);
    height: 80%;
    width: 20%;
}

.cursorPointer {
    cursor: pointer;
}