.heap {
    position: absolute;
    height: inherit;
    width: inherit;
}

.position {
    display: flex;
    position: absolute;
    height: inherit;
    width: inherit;
}

.search {
    margin-top: 50px;
    position: absolute;
    z-index: 1;
}

.points {
    justify-content: center; 
    align-items: flex-end;
    font-weight: bold;
    color: rgb(0, 170, 250);
    .position();
}