.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  padding: 5px;
  border-radius: 2px;
  background-color: whitesmoke;
  width: 200px;
}

.section-header {
  align-items: center;

  margin: 5px;
  padding: 3px;

  border-radius: 3px;
  border-top: 1px solid rgb(233, 120, 120);   

  background-color: white;

  box-shadow: -1px 1px 3px;
}

.section-header-name {
  width: 110px;

  padding: 10px;

  white-space: nowrap;
  overflow: hidden;   
  text-overflow: ellipsis;    

  font-size: 12px;
  font-weight: bold;
  color: rgb(97, 96, 96);
}

.section-card-title {
  padding: 10px;

  font-size: 12px;
  font-weight: bold;
  color: rgb(97, 96, 96);
}

.section-header-amount {
  width: 25px;
  height: 15px;    

  border-radius: 12px;
  border: 1px solid grey;

  font-size: 8px;
  font-weight: bold;
  color: grey;
}

.section-card {
  margin: 5px;
  padding: 3px;

  border-radius: 3px;

  background-color: white;

  box-shadow: -1px 1px 3px;
}

.button-x-small, 
.button-x-big, 
.button-arrow-small, 
.button-arrow-big {  
  border-radius: 3px;  

  text-align: center; 
  text-decoration: none;
  color: white;
  font-family: monospace;

  cursor: pointer;
}

.button-x-small, 
.button-x-big {
  margin-left: auto;
  background-color: rgba(250, 29, 0, 0.6);
}

.button-arrow-small, 
.button-arrow-big {  
  background-color: rgba(0, 171, 250, 0.904);
}

.button-x-small, 
.button-arrow-small {
  height: 12px;
  width: 12px;
  
  line-height: 12px;
}

.button-x-big, 
.button-arrow-big {
  height: 20px;
  width: 20px;
  font-size: 20px;
  line-height: 20px;
}

.section-card-info {
  justify-content: space-between;
  padding: 10px;

  font-size: 12px;
  color: rgb(70, 69, 69);
}

.section-card-info-text {
  width: 130px;
}

.section-card-info-graph {
  position: relative;
}

.section-card-info-graph-avatar {
  width: 22px;
  height: 22px;
  
  border-radius: 50%;     
}

.avatar-lay {
  position: absolute;
  right: 50%;
  /* right: -11px; */
  
}

.section-card-info-graph-initials {    
  width: 22px;
  height: 22px;

  border-radius: 50%;    

  background-color: rgb(65, 141, 202);

  color: white;
}

.section-card-image {
  border-radius: 3px 3px 0px 0px;
}

.modal-overlay { 
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window {
  width: 400px;
  padding: 10px;  
  border-radius: 5px;
  background-color: #ffffff;
}